Schema=cfg/spade.storage.CDM.avsc
cacheDatabasePath=tmp
verticesDatabaseName=cdmVerticesDB
verticesCacheSize=1000000
verticesBloomfilterFalsePositiveProbability=0.0001
verticesBloomFilterExpectedNumberOfElements=1000000
#uncomment the following line to report stats in the log
reportingIntervalSeconds=60
dbg_sleep_millis_on_trigger=500
dbg_trigger_size=5000000
